<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

      <rewrite>
        <rules>
          <rule name="AngularJS Routes" stopProcessing="true">
            <match url="(!/)?(.*)" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" url="#/{R:2}" redirectType="Found" />
          </rule>
        </rules>
      </rewrite>

      <defaultDocument>
          <files>
                <remove value="index.php" />
              <remove value="default.aspx" />
              <remove value="iisstart.htm" />
              <remove value="index.htm" />
              <remove value="Default.asp" />
              <remove value="Default.htm" />
          </files>
      </defaultDocument>

      <httpErrors errorMode="Custom" defaultResponseMode="File" >
         <remove statusCode="404" />
         <remove statusCode="500" />
         <error statusCode="404" 
            path="404.html" />
         <error statusCode="500" 
            path="500.html" />
       </httpErrors>

    </system.webServer>
</configuration>
